* {
font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

}


li{
    list-style-type: none
}

.container {
    width: 600px;
    margin:0 auto;
    
}



.card-task {
    background-color:rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 2%;
    transition: transform.5s ;
    margin-bottom: 10px;
   
}

.card-task:hover {
    transform: scale(1.1);
}

.pretty {
    margin-left: 30px;
}



.task-name{
    text-align: center;
}

.task-name:hover {
    font-weight: 600;

}

.cardPreview {
    text-align: center;
}

.cardBtn {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.edit {
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    background-color:rgb(167, 183, 242);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    height: 30px;
    width: 70px;
    border:none;

}

.edit:hover {
border-color: black;
background-color: rgb(149, 170, 247);
font-weight: 600;
}

.edit:focus {
    box-shadow:  rgba(15, 2, 2, 0.2);
    }

.delete {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color:rgb(242, 128, 155);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    height: 30px;
    width: 70px;
    border:none;
    
}

.delete:hover {
    border-color: black;
    background-color:rgb(247, 99, 133);
    font-weight: 600;
}